body {
  margin: 0 auto;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  background-color: #fafafa;
}
.wrapper {
  width: 100vw;
  height: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ebe9e9;
}
* {
  /* border: 1px solid red; */
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  background-color: #ebe9e9;
  height: fit-content;
  width: 100vw;
  z-index: 3;
  top: 0;
}
.title {
  display: flex;
  align-items: center;
}
.filters {
  display: flex;
  align-items: center;
  width: 100%;
}
.user-select {
  padding: 3px 6px;
  margin-left: 6px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}
select {
  margin: 0.3rem;
}
.search-bar,
.search-bar input {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.cot-report-wrapper {
  background-color: #ebe9e9;
  box-shadow: 0 0 1px #868686;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  margin-top: 10vh;
}
h1 {
  color: #303030;
  text-shadow: 0 0 1.3px #868686;
  margin: 0;
}
.date h3 {
  padding-left: 6px;
  margin: 0;
  font-weight: 600;
}
.cot-card {
  box-shadow: 0 0 1px #868686;
}
.cot-card h3 {
  margin: 0;
  font-size: 1rem;
}
.cot-card h2 {
  background-color: #303030;
  color: snow;
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
}
.report-analysis section {
  padding: 0.1rem 0.6rem;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  align-items: center;
  background-color: #fafafa;
}
.report-analysis .titles {
  background-color: #ebe9e9;
}
.titles h3 {
  font-size: 0.6rem;
}
.report-analysis section p,
.report-analysis section h4 {
  margin: 0;
}

.report-data section {
  box-shadow: 0 0 1px inset #303030;
}
.report-data section {
  box-shadow: 0 0 1px inset #303030;
}

.highlight {
  color: red;
}
.hide {
  display: none;
}
.logo {
  width: 33px;
  padding: 5px;
}
/* Loading */
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2b3135;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: spin 2s linear infinite; /* Firefox < 16 */
  -ms-animation: spin 2s linear infinite; /* Internet Explorer */
  -o-animation: spin 2s linear infinite; /* Opera < 12.1 */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 492px) {
  .filters {
    justify-content: center;
  }
  .search-bar,
  .search-bar input {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .titles h3 {
    font-size: 0.5rem;
  }
  .report-data h4 {
    font-size: 0.5rem;
  }
  .user-select {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 405px) {
  .filters {
    flex-direction: column;

  }
  .cot-report-wrapper {
    margin-top: 15vh;
  }
}
