body {
  margin: 0 auto;
  font-size: 62.5%;
  color: #3f3f3f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  width: 100vw;
  height: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
* {
  /* border: 1px solid red; */
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #e4e3e3;
  width: 100vw;
  height: fit-content;
  z-index: 3;
  top: 0;
  box-shadow: 0 0 5px #4f4f4f;
  transition: 0.33s ease-in;
}
.scroll-shadow {
  box-shadow: 0 0 33px #4f4f4f;
}
.title {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.user-select {
  margin-left: 6px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}
select {
  margin: 0.3rem;
  color: #3f3f3f;
  outline: none;
}
.search-bar {
  font-size: 1rem;
  padding: 0.5rem;
  width: 50%;
  border: none;
  outline: none;
  color: #3f3f3f;
}
.cot-report-wrapper {
  background-color: #e4e3e3;
  box-shadow: 0 0 1px #868686;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  margin-top: 8vh;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
}
.report,
.skeleton {
  width: 78%;
  margin-bottom: 500px;
}
h1 {
  color: #303030;
  text-shadow: 0 0 1.3px #868686;
  margin: 0;
}
.date {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 0.5rem;
}
.cot-card {
  box-shadow: 0 0 1px #868686;
}
.cot-card h3 {
  margin: 0;
  font-size: 1rem;
}
.cot-card header {
  background-color: #303030;
  color: snow;
}
.cot-card h2 {
  margin: 0;
  padding: 0.3rem;
  font-size: 1rem;
}
.report-analysis section {
  padding: 0.1rem 0.6rem;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  align-items: center;
  background-color: #fafafa;
}
.report-analysis .titles {
  background-color: #ebe9e9;
}
.titles h3 {
  font-size: 0.6rem;
}
.report-analysis section p,
.report-analysis section h4 {
  margin: 0;
}

.report-data section {
  box-shadow: 0 0 1px inset #303030;
}
.report-data section {
  box-shadow: 0 0 1px inset #303030;
}

.highlight {
  color: #eb8e02;
  font-weight: bold;
}
.hide {
  display: none;
}
.logo {
  width: 33px;
  padding: 5px;
}
@media (max-width: 765px) {
  .report {
    width: 100vw;
  }
}
@media (max-width: 593px) {
  .search-bar {
    font-size: 1rem;
    padding: 0.5rem;
    width: 33%;
  }
  .titles h3 {
    font-size: 0.5rem;
  }
  .report-data h4 {
    font-size: 0.5rem;
  }
}
@media (max-width: 444px) {
  .search-bar {
    width: 90%;
  }
  .filters {
    flex-direction: column;
  }
  .cot-report-wrapper {
    margin-top: 15vh;
  }
  .user-select {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}
@media (max-width: 266px) {
  .cot-report-wrapper {
    margin-top: 30vh;
  }
  .top {
    height: 30vh;
  }

}
