body {
  margin: 0 auto;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  background-color: #fafafa;
  width: 100vw;
  height: 100%;
}
.wrapper {
  width: 100vw;
  height: 100%;
  line-height: 1.5;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
* {
  /* border: 1px solid red; */
}

.user-select {
  padding: 3px 6px;
}
select {
  margin: 0.3rem;
}

.cot-report-wrapper {
  background-color: #ebe9e9;
  box-shadow: 0 0 1px #868686;
}

h1 {
  color: #303030;
  text-shadow: 0 0 1.3px #868686;
  padding-left: 6px;
}

.cot-card {
  box-shadow: 0 0 1px #868686;
  padding: 0.1rem 0.6rem;
}
.cot-card h3 {
  border-bottom: 1px solid #d1cbcb;
}
.report-analysis section {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: fit-content(40%);
  align-items: center;
  margin: 0;
  /* grid-template-rows: min-content 1fr min-content; */

  width: 100%;
  /* border: 1px solid red; */
}

